[2018-01-03 21:14] jayserdny opened #2 "Bug in the created time for feeds"
Due to the different timezones, the module moment will fail. Sometimes it will tell the correct posted dated from the current time but, when timezones are different, it will say something like: "in n hours" where n is the numbers of hours remaining "for this post being posted".

[2018-01-04 10:33] hsyndeniz commented on #2
Thanks for your contribution. I will fix it with new update. If you have an idea to fix it please share or create pull request 👍

[2018-01-04 10:57] jayserdny commented on #2
I can't find a workaround for this as now. What I think is to determine the timezone given by the steem api and calculate the offset between local timezone and steem timezone.

[2018-01-07 02:32] jayserdny opened #4 "iSteem - Parsing posted date timezone error"
![Screen Shot 2018-01-04 at 6.17.17 AM.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v1515064672/s4ghdnykvuqdzjkjava9.png)

This bug in the iSteem app show future posted date for the post.

## Steps to reproduce

- Clone the app
- Following the instructions in the repo to install the app
- After finishing the instructions in the repo, the app should be running in localhost:8100
- Open the

[2018-01-07 06:29] jayserdny opened #5 "API calls limit exceeded when rendering post into the feed."
![Screen Shot 2018-01-05 at 5.03.41 AM.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v1515146646/jpovt3fxqxitev7oqidg.png)

As shown in the image above, the Steemia (old iSteem) app will crash when you try to scroll down up to post number 100.

# Steps to reproduce
- Clone the repo
- Follow steps to install the app given in the repo
- Open the app and scroll down for a while

***
Since th

[2018-01-22 14:35] avnigenc opened #10 "Steemia Post Sharing Error"
Steemia is a mobile application, developing for Steemit and I believe it will be very useful when it's done. When I testing the application, I found a bug in the post-sharing section. If you use the Markdown code while creating a post, you get an error.

#### Expected behavior
The Markdown code must be converted and post must be sharing properly. Markdown codes must be converted into HTML codes so

[2018-01-26 15:20] avnigenc opened #13 "Steemia Single Page Post Error"
A mobile app for the platform Steemit.com. This app is capable of running on iOS and Android sharing the same basecode. Also, this application will include all the features present in the Steemit.com website for those who prefer to use a mobile device instead of a desktop computer.

#### Expected behavior
We need to be able to see the details of the posts on all pages without encountering any prob

[2018-01-30 04:18] #4 closed, assigned to nobody

[2018-01-30 14:10] jayserdny commented on #13
resolved in #14

[2018-01-30 14:10] #13 closed, assigned to jayserdny, hsyndeniz

[2018-01-30 14:14] jayserdny commented on #2
closed in #14

[2018-01-30 14:14] #2 closed, assigned to jayserdny

[2018-02-09 19:22] #5 closed, assigned to nobody

[2018-02-09 19:22] hsyndeniz commented on #5
resolved!

[2018-02-25 03:19] #10 closed, assigned to jayserdny

[2018-03-04 19:41] kubragunes opened #26 "Wrong Post Count in Steemia"
#### Expected behavior
The count of posts we write should be shown in app. Shared post count is shown in about tab under the profile page. Here is a screenshot. ![image](https://i.hizliresim.com/2Jor8L.jpg)

#### Actual behavior
I shared a post under #steemia tag, but the number of posts I shared seems like 0.
![steemia](https://i.hizliresim.com/D75PYz.jpg)

#### How to reproduce
You can try the S

[2018-03-24 01:24] kubragunes opened #33 "[Steemia] - Login Error!"
#### Steemia
Steemia is a social network app running over the Steem Blockchain. This app will provide the users an enriched user experience plus features commonly encountered in a casually used social media. The goal of this project is to give the community a mobile app where they can do their daily activity in the blockchain.

#### Expected behavior
To login in Steemia application, you need to op

[2018-03-27 09:08] Pope19 opened #34 "A Proposal to Draft a Privacy Policy and Frequently Asked Questions (FAQ) for Steemia"
After going through the file finder, i discovered that Privacy Policy and FAQ were not present.

Privacy policy is a very important document on any website that details a company's views on information collected from visitors and how it intends to secure that information. It also helps to instill more confidence in the prospective site visitors/app users, and give users an idea of what to expect a

[2018-03-27 09:38] jayserdny commented on #34
Hello @Pope19 . Those information will be present on the website (when we release the website). For now, we are mostly focusing in development of the product. However, contributions are always open :)

Thanks.

[2018-03-27 23:17] #34 closed, assigned to nobody

[2018-03-29 06:30] #26 closed, assigned to jayserdny, hsyndeniz

[2018-04-01 00:59] #33 closed, assigned to jayserdny

[2018-04-01 00:59] hsyndeniz commented on #33
Resolved!

[2018-04-06 21:24] jayserdny opened #43 "Infinite scroll not working correctly in profile page"
Infinite scroll is repeating the same posts instead of load the next chunk

[2018-04-07 00:40] hsyndeniz opened #44 "Upvote not working on single post page"
Upvote not working on single post page!

[2018-04-07 22:30] #44 closed, assigned to jayserdny

[2018-04-07 22:30] #43 closed, assigned to jayserdny

[2018-04-07 22:33] jayserdny opened #45 "Post cannot be opened if profile is loaded from a modal"
## Expected Behavior
When open a profile from a modal, the user should be able to load the post in top of the modal and not behind it.

## Actual Behavior
When you open a profile from a modal, the posts are opened behind the modal forcing the user to close profile and modal in order to see the post.

## Steps to Reproduce the Problem
1. Open the votes modal
2. Open any profile from it
3. Try to op

[2018-04-10 05:59] #45 closed, assigned to jayserdny

[2018-04-17 07:05] symonp opened #61 "Add Reply to a Comment and Pending Payout for Steemia"
Here is my ideas for your amazing application:
https://utopian.io/utopian-io/@symonp/suggestion-to-add-reply-to-a-comment-and-pending-payout-in-steemia

[2018-04-17 07:11] #61 closed, assigned to nobody

[2018-04-19 07:30] Anyadan opened #62 "Ability to personalize profile photo and cover photo"
#### Components

My contribution is made in regard to the **Steemia** app which is a social media app built based on the Steem block chain.

My suggestion is about the inclusion of a personalization button for the profile photos.

#### Proposal

My proposal is to make available buttons which would facilitate the ability for one to personalize profile and cover photos.

This proposal can be impleme

[2018-04-21 00:24] hsyndeniz commented on #62
Thank you for your contribution. It's done!

[2018-04-21 00:24] #62 closed, assigned to nobody

[2018-06-02 05:14] rezamusic881 opened #73 "Website links do not lead users anywhere"
#### <center>Expected behavior</center>
<P>
<div class="text-justify">Supposedly, When the User clicks on the website feature inside the info menu of each user profile, the App will direct the redirect and link directly to the website</div>

#### <center>Actual behavior</center>
<P>
<div class="text-justify">When I try to click on the website features inside the info menu of each user profile, the

[2018-06-02 19:49] Icramss opened #74 "Can not install app by playstore link in Redme"
## Expected Behavior
Should be able to install in playstore link in Redme

## Actual Behavior
Tap on the playstore icon shows only playstore images

## Steps to Reproduce the Problem

  1.go on github stemia
  1. tap redme
  1. Scroll to down and Tap playstore icon

## Specifications

  - Version: android 6.0.1
  - Platform:
  - Subsystem:

[2018-06-02 20:02] Icramss opened #75 "The view feature is not work when Review image content"
## Expected Behavior
After writing the content the user should be able to review it before posting

## Actual Behavior
View feature does not work
normally

## Steps to Reproduce the Problem

  1.launc app
  1.sign in with your steem account
  1.create a new post and write any text /image than Tap view icon

## Specifications

  - Version: device 6.0.1

[2018-06-02 20:16] jayserdny commented on #74
Hello,

Thanks for noticing it. Already fixed it ;)

[2018-06-02 20:16] #74 closed, assigned to nobody

[2018-06-02 20:20] jayserdny commented on #75
Hello,

Sorry, but I cannot reproduce this issue. Can you please attach a GIF or video reproducing this issue?

Thanks.

[2018-06-02 20:32] Icramss opened #76 "The some feature : Like, comment, upvote is not displayed when viewing post details via notification"
## Expected Behavior
Some features such as Liker, coment, upvote should be displayed when users view post details from notifications

## Actual Behavior
Some of these features are not displayed when users view post details through notifications

## Steps to Reproduce the Problem
- Open app
- log in with steem account
- Tap notification icon
- Tap one of your post in notification
- Scroll down to s

[2018-06-02 20:36] jayserdny commented on #76
Hello,

Thanks for your report. Upvote and Comments are shown on the post single page. However, likers are not shown in this update.

You stated that you cannot see them if the post is opened from notifications. However, I cannot reproduce this issue on my end. Can you please attach a video reproducing the issue? Thanks.

Also, if the mentioned features above are present except for the likers, thi

[2018-06-02 20:52] Icramss commented on #76
Unfortunately, i able to reproduce Upvote only. I can not  see upvote  and likes .

![20180603_034924.gif](https://cdn.steemitimages.com/DQmW1FzwbntnwV4ojmqFoYJttYP5a6hmp4Jiy8xSPqUrF5Z/20180603_034924.gif)

[2018-06-02 21:01] jayserdny commented on #76
@Icramss Sorry but I cannot understand what are you're referring to. What do you mean by "i able to reproduce Upvote only. I can not upvote and likes "

Do you mean that you cannot see the upvotes like you do on the main screen?

[2018-06-02 21:02] jayserdny commented on #75
@Icramss What version of the app are you using? I tried on my device and it is working properly.

[2018-06-02 21:04] Icramss commented on #75
0.0.4 version

[2018-06-02 21:05] Icramss commented on #76
I said: I can only produce bugs about upvote. I can not see the apvote feature there

[2018-06-02 21:11] Icramss opened #77 "Question : How to use chat feature?"
I am new user of your application.
I want to learn about the great features your app has

[2018-06-02 21:18] jayserdny commented on #76
@Icramss I can see it in your GIF (look at the like button in the top)

[2018-06-02 21:21] jayserdny commented on #75
@Icramss and what is the device's model?

[2018-06-02 21:22] jayserdny commented on #77
Hello @Icramss,

The app still does not have a chat feature.

Thanks

[2018-06-02 21:42] Icramss commented on #75
One plus 2

[2018-06-02 21:43] Icramss commented on #75
Get me a bug label if this is help you

[2018-06-02 21:50] jayserdny commented on #75
Can you please confirm that other items in the toolbox work? @Icramss

[2018-06-02 21:52] #77 closed, assigned to nobody

[2018-06-02 22:07] Icramss commented on #75
Yes . All item in toolbox work except View

[2018-06-02 22:13] Icramss commented on #75
Please try this way:

Write little content and upload images. Once the image has finished uploading, try Review. Maybe this way can help you in knowing the cause

[2018-06-02 22:31] jayserdny commented on #75
It worked for me but since others items are working, I will mark it as bug

[2018-06-02 22:35] Icramss commented on #75
Yep. I will change the title of the issue with the behavior you can produce.

[2018-06-02 22:53] #76 closed, assigned to nobody

[2018-06-03 20:53] ashiqurakash opened #78 "Tags are not responding in the post!"
#### Expected behavior
After clicking on the tags it should show the specific tags result.

#### Actual behavior
When user click on the tags it's not showing the specific tags result and not doing anything at all.

#### How to reproduce
* Download and install Steemia from [Google play store](https://play.google.com/store/apps/details?id=com.steemia.steemia)
* Login with your Steemit account.
* Go

[2018-06-03 21:34] tobias-g1 commented on #75
Interestingly I was able to replicate this too, on both Android 8.0, 7.0 and 6.0.1

The issue seems to occur only with certain images, for example this image worked:

https://gateway.ipfs.io/ipfs/QmXosdm4pVx2njQsSADDDTfS11sBALY6DawbVTpKU1TzZ5

Just the default camera image on an emulator, but if you use the image below (download and upload via Steemia) it won't work:

https://www.sample-videos.com

[2018-06-03 21:54] jayserdny commented on #78
Hello @ashiqurakash,

Thanks for your report. While this is not an issue, I will close it. This is more likely a suggestion instead of a bug: This area is not clickable by default in our app. Even though in Steemit it is possible, both are different platforms that cannot be compared each to the other.

Filtering by tags is already developed but the update has not been sent yet. Also, even in the n

[2018-06-03 21:54] #78 closed, assigned to nobody

[2018-06-03 21:55] jayserdny commented on #73
Hello,

Thanks for your report. This is not a bug. It has not been implemented yet.

[2018-06-03 21:55] #73 closed, assigned to nobody

[2018-06-04 00:18] Icramss opened #79 "Comentar with image is not displayed"
## Expected Behavior
Commenting with the image can be displayed in the comment box

## Actual Behavior
After commenting using image, image can not be displayed after finished commenting

## Steps to Reproduce the Problem
- open app
- login with your steem account
- Try Tap a post on the homepage
- Try to comment by using the image only
- Tap comment to comment
- Your image comment is not displayed

[2018-06-04 00:52] jayserdny commented on #79
Hello @Icramss,

Thanks for your report. However, at version 0.0.4, this has not been implemented. But, in the next version which is 0.0.5, it has been implemented:

Check here:

`<div class="message" [innerHTML]="comment.body" autolinker></div>`

https://github.com/Steemia/Steemia/blob/master/src/components/comment/comment.html

[2018-06-04 00:52] #79 closed, assigned to nobody

[2018-06-04 00:54] Icramss opened #80 "The content is not displayed on the profile page after publishing"
## Expected Behavior
The content created should be displayed after posting on the profile page

## Actual Behavior
The content is not displayed on the profile page. Content can only be seen when Tap is on post. And Content can only be viewed when opened with other applications such as esteem, steemit, busy

## Steps to Reproduce the Problem
- open the app
- Try creating a post
- create a title
- c

[2018-06-04 01:05] jayserdny commented on #80
Hello @Icramss ,

Not everything is a bug. The fact that the content is not updated after edit the post does not mean that this is a bug. A bug can be that the post was not edited correctly. If you close the profile and open it again, you will see the post updated. Hence, not a bug.

[2018-06-04 01:05] #80 closed, assigned to nobody

[2018-06-04 01:47] ashiqurakash opened #81 "User can't edit or copy paste the text in the comment section."
#### Expected behavior
While writing a comment a comment user should copy or paste or select the text he is writing.

#### Actual behavior
User can't copy, paste or edit text in the comment section.

#### How to reproduce
* Download and install Steemia from [Google play store](https://play.google.com/store/apps/details?id=com.steemia.steemia)
* Login with your Steemit account.
* Copy any text from

[2018-06-04 02:08] jayserdny commented on #81
Hello,

Thanks for your report. I have confirmed it and I can reproduce it on my device.

[2018-06-04 20:15] royachiron opened #82 "Steemia app opens steemit.com with device browser, taking the user out of steemia. Steem links should be opened in app."
## Expected Behavior
I expect to stay in app when trying to access posts that are on the steem blockchain.
Usually a client/frontend will lead you out of it only when it has content is it not supposed to show. Youtube link should definitely open in relevant app, any app to some steem front end, should open that part of the blockchain in app.

## Actual Behavior
Steemit.com is launched in browser.

[2018-06-04 20:31] jayserdny commented on #82
Hello,

Thanks for your report. However, this is not s bug. Indeed, this is a intended feature since Steemia does not have deep linking (yet, check roadmap)

[2018-06-04 20:31] #82 closed, assigned to nobody

[2018-06-04 22:16] hsyndeniz commented on #75
View mode works fine but IPFS does not display photos.
To resolve this issue, we should prefer **ipfs.io** endpoint instead of **gateway.ipfs.io**.

[2018-06-08 20:01] MadwitheSkill opened #83 "following/followers list always loses a username/profile when another user is followed on steemia, causing a contradiction between the total number of people following and the usernames/profile in the list."
* Repository:
https://github.com/Steemia/Steemia
* Project Name: Steemia

#### Expected behavior
After a user is followed on steemit via steemia, it is expected that the user's profile should be added to the list of followed and vice-versa for when a user follows me.

#### Actual behavior
When a user was followed, the number of following increased but checking the list, it is always incomplete by

[2018-06-08 20:20] jayserdny commented on #83
Thanks for your report. I have confirmed it and will be resolving it for next update 💯

[2018-06-08 20:24] MadwitheSkill commented on #83
Alright thanks.

[2018-06-09 00:08] ashiqurakash opened #84 "Recent notifications are not showing."
## Expected Behavior
When user go to notification section Steemia app should be able to show every recent notifications.

## Actual Behavior
When user go to notification section Steemia app doesn't show the recent updated notifications.

## Steps to Reproduce the Problem

  1. To find this bug first confirm that when your recent notification came.
  2. Then go to Steemia app notification section.

[2018-06-09 00:13] jayserdny commented on #84
Hello @ashiqurakash ,

Thanks for your report. Sadly, this is something outside our scope since we rely on a third-party service (Busy Inc.) to display the notifications. Hence, there is nothing we can do at the moment other than develop our own solution.

[2018-06-09 00:13] #84 closed, assigned to nobody

[2018-06-09 00:22] ashiqurakash commented on #84
Then what if I contribute it to repository of busy? Can the do something or at least detect this issue as a bug?

[2018-06-09 00:25] ashiqurakash commented on #84
Sorry this issue has already been listed in the github repository of busy. Thank you jayserdny for your time I find you always very responsive this is impressive.

[2018-06-09 00:29] jayserdny commented on #84
@ashiqurakash At anytime 💯

[2018-06-10 04:40] #75 closed, assigned to hsyndeniz

[2018-06-10 04:53] #81 closed, assigned to jayserdny

[2018-06-10 05:10] jayserdny commented on #83
Fixed 💯

[2018-06-10 05:10] #83 closed, assigned to jayserdny

[2018-06-10 14:44] ashiqurakash opened #86 "Post preview not working properly."
## Expected Behavior
When user click on "What's on your mind " to write a post. User should be able to see the preview of his/her post by just clicking on the preview option at the bottom left of the post.

## Actual Behavior
When user wants to write a post and go to create a new post section by clicking, "What's on your mind" bar at the top of the Steemia home page. Then while writing user can't

[2018-06-10 15:29] jayserdny commented on #86
Good finding! And really weird bug since it works when the page is opened from the bottom navigation hehe. Will fix it ASAP since we are about to send an update.

[2018-06-10 16:36] ashiqurakash commented on #86
Thank you for confirming it as a bug. And yes I also find it very difficult to explain that how to reproduce. But the recorded video explained it well I guess.

[2018-06-11 17:54] ashiqurakash opened #87 "Editor toolbar iconfonts unexpected behavior."
## Expected Behavior
After writing something in the editor input. User must be able to edit the marked content by clicking on the editor toolbar icon fonts.

## Actual Behavior
User can't edit the marked content by just clicking on the icon fonts. Because after using any icon font from the editor toolbar user need to edit the icon font code to work it properly.

## Steps to Reproduce the Problem

[2018-06-11 19:39] hsyndeniz commented on #87
Hello there,

I think it's not exactly a bug, but I'm adding it to our Roadmap to fix it. Thank you :)

[2018-06-11 19:47] ashiqurakash commented on #87
Thank you for your valuable response PO.
In every platform this editor toolbar feature works just fine. I tried it on Github, Busy and also in Evernote Web.

[2018-06-11 20:15] jayserdny commented on #87
@ashiqurakash We understand that other platforms have this feature. However, not all platform works in the same way. Comparing against another platform is a really bad way to reproduce a bug.

[2018-06-11 20:24] ashiqurakash commented on #87
Yes I agree. That's why I didn't mentioned it in my issue. But if this feature works like this, Steemia content editing will be more easier and comfortable. Because user won't need to delete the ** bold ** word from the middle of the stars. I find this feature more useful and time sufficient.

[2018-06-12 09:52] realrufans opened #88 "Steemia V 0.0.4 - A Reply To A Comment And The Main Comment not well aligned."
#### Project Information
* Repository:
[Steemia](https://github.com/Steemia/Steemia)

<Hr>

#### Expected behavior

I expected a threaded Comment  to a post just like the image below.
![Screenshot_20180611-200826_1528746502898.png](https://cdn.steemitimages.com/DQmXG6i618erSMURC1MJrGJoZWn6pbZCxtKdFJRh9MwLhxD/Screenshot_20180611-200826_1528746502898.png)

#### Actual behavior

The reply comment is

[2018-06-12 18:52] jayserdny commented on #88
Hello @realrufans,

This was already fixed but update is not sent yet. However, this was not a bug but a missing feature which we did not implemented before.

Thanks.

[2018-06-12 18:52] #88 closed, assigned to nobody

[2018-06-12 18:54] realrufans commented on #88
Alright thank you

[2018-06-13 20:56] ashiqurakash opened #90 "By clicking on reblog in user's own post causes unfinished loading."
## Expected Behavior
After clicking on reblog in user's own post must not be loading forever.

## Actual Behavior
When user click on the reblog in own post loading does not end. And left the user only one way to get rid of loading which is close the app.

## Steps to Reproduce the Problem

  1. Fresh start Steemia app and go to your profile.
  2. Click on any of your post.
  3. Click on the reblog

[2018-06-13 21:04] hsyndeniz commented on #90
Hi @ashiqurakash
This is because users can not reblog their own posts. I solved this issue but it's not live right now. Just wait for update. Thanks for report.

[2018-06-13 21:04] #90 closed, assigned to nobody

[2018-06-13 21:07] ashiqurakash commented on #90
Oh I see. Thank you for your quick response. I look forward for the next update.

[2018-06-14 03:59] #86 closed, assigned to nobody

[2018-06-14 03:59] jayserdny commented on #86
Fixed 💯

[2018-06-17 02:38] ng-gist opened #92 "Unable to login into the app"
#### Expected behavior

After installing the app I should be able to login using steemconnect and view my feed.

#### Actual behavior

After login, I land on the page with a spinner and left nav still shows Login link.

#### How to reproduce

- Do a fresh installation of the app from appstore.
- Click on Login with SteemConnect button.
- Login in steemconnect, providing username and password.
- Af

[2018-06-17 05:02] jayserdny commented on #92
Hello,

Thanks for your report.

Which version of the app are you using?

[2018-06-17 05:34] ng-gist commented on #92
Version 0.0.4
Downloaded it today from playstore

[2018-06-17 09:38] jayserdny commented on #92
Hello,

Can you try deleting the app and installing again? If the issue persist, I will mark it as bug.

Thanks.

[2018-06-17 17:47] ng-gist commented on #92
I did the uninstall, phone restart and reinstall. Result is still the same. Here's the new video: https://youtu.be/FLYAiye3joY

[2018-06-17 18:58] jayserdny commented on #92
If you open another tab: for instance Trending, does it load?

[2018-06-17 19:04] ng-gist commented on #92
No

[2018-06-17 19:34] jayserdny commented on #92
It is weird but I cannot really reproduce this issue :/

It will help if you can get the logcat of the app to see what is really happening.

[2018-06-17 20:54] ng-gist commented on #92
This is the command i ran to collect logs: ./adb logcat com.steemia.steemia > logcat.txt
[logcat.txt](https://github.com/Steemia/Steemia/files/2109377/logcat.txt)

[2018-06-17 21:20] jayserdny commented on #92
@mightypanda-x  thank you so much. I will mark it as a bug and will investigate this file.

[2018-06-17 21:28] ng-gist commented on #92
I don't see Log being used in the code so I don't know how this file will filter anything. If you need me to run another command, let me know.

[2018-06-17 21:35] jayserdny commented on #92
Can you open the app, then conect the USB cable and inspect the device using Google Chrome? It should show there since it is a web app. If so, can you provide the console logs while are trying to login? This will help as well.

[2018-06-17 21:40] jayserdny commented on #92
Also, can you clean app data? I see that data persist even after uninstalling.

[2018-06-17 22:26] ng-gist commented on #92
Cleaned up app data, but that didn't help. Connected to debugger, it shows device is connected and it shows when i open chrome, but app is not showing up.

[2018-06-17 22:43] jayserdny commented on #92
Well, I will try to find out what is causing it. Thank you so much.

[2018-06-18 07:22] jelumanao opened #93 "You can still edit post / upload photos in preview mode | editing should be disabled in preview mode"
## Expected Behavior
 Uploading a picture or editing contents is disabled when you are in preview mode.

## Actual Behavior
When you are in preview mode you can still edit contents and upload pictures but it will not reflect yet in the screen until you click the preview mode again. (refer on the video)

## Steps to Reproduce the Problem
* Open Steemia App
* Create a post
* Click Preview mode
* Whe

[2018-06-19 01:13] jayserdny commented on #93
Hello,

Thanks for your report. We will add this as suggestion for the next update :D

[2018-06-19 01:13] #93 closed, assigned to nobody

[2018-06-19 19:13] ng-gist commented on #92
@jayserdny I have a little more information for you. I was able to login using my main account. This issue might have something to do with missing profile information as the account I used before (dummy account for testing) has no data.

[2018-06-19 19:15] jayserdny commented on #92
@mightypanda-x Interesting! I will test it up with a dummy account with no data as well and try to reproduce this issue. Thank you so much for the details.

[2018-06-19 19:25] ng-gist commented on #92
No problem. I have found another one that i will report soon.

[2018-06-19 20:44] ng-gist opened #94 "Up-vote fails when upvoting with low SP"
## Expected Behavior
Clicking on up-vote with low Voting strength should either up-vote the post or show an error msg.

## Actual Behavior
When trying to up-vote with very small vote strength, a spinner gets displayed and no up-vote or error is returned. You have to restart the app for spinner to go away and be able to up-vote again.

## Steps to Reproduce the Problem

  1. Login with a account wi

[2018-06-19 21:02] jayserdny commented on #94
@hsynterkr Can you please try with Steemia dev account? I will be off for like 1-2 days. Thanks

[2018-06-20 17:54] shaphir opened #95 "Request for new features adding (Account status and Posting Count)"
This is an idea of user requests for the app ,to add Account Status and Posting Count features.

### Why Account Status feature?
Because this feature will help users to see:
* Calculated: total steem and the amount of effective steem power.
* Witnesses Voted Count: indicates the amount and name of the witness account.
* Reputation: shows the reputation of the account in detail.
* Proxy: shows the

[2018-06-20 19:02] hsyndeniz commented on #95
Hi @shaphir,
Total steem and the effective steem power feature added in new version. I'm adding this suggestions to our workflow.
Thank you for your suggestions :)

[2018-06-20 19:06] hsyndeniz commented on #94
Hi @mightypanda-x, thank you for report.
@jayserdny I know this issue. I experienced it on busy.org. I'm adding it to workflow to find a solution.

[2018-06-20 19:09] jayserdny commented on #94
@hsynterkr SteemConnect related? Maybe we can catch the error iff the SP is 1% and tell the user that there is not enough VP to perform this operation. Or, we can lock the voting slider for users with low VP as Steemit do. What do you think?

[2018-06-20 19:13] hsyndeniz commented on #94
I think it doesn't return an error. So we can warn user or disable slider.

[2018-06-20 19:16] jayserdny commented on #94
Sc2  does not return errors directly but you can intercept the call and see the RPC error

[2018-06-20 19:22] ng-gist commented on #94
I found similar issue in busy that i reported it to them. It will throw an error saying vote value is 0. I think the slider should default to 100% as most of the users are redfish or minnows.

[2018-06-20 19:25] jayserdny commented on #94
Ok solution: disable slider for minnows

[2018-06-20 19:28] ng-gist commented on #94
Even though technically that is a fine solution but lot of minnows crave slider because on steemit it only appears after 500SP. I think its better to allow a slider but show error when call doesn't complete. Or give a minimum of 25% slider option for minnows.

[2018-06-20 19:37] jayserdny commented on #94
Will take that in mind ;). Will find a safe range for minnows.

[2018-06-20 19:40] ng-gist commented on #94
Can I apply this bug for bounty?

[2018-06-20 19:46] jayserdny commented on #94
I think it has not been reported yet. Can you check old issues to confirm? If not, feel free to do it :D

[2018-06-20 19:47] ng-gist commented on #94
I checked before reporting. You guys are very responsive and I like working with you.

[2018-06-21 09:16] shaphir opened #97 "cannot be send SBD and STEEM in landscape mode"
## Expected Behavior
There should be a cancel button and send after I press SBD OR STEEM transfer

## Actual Behavior
When I pressing the transfer in landscape mode, the cancel and send button disappears so I cannot be perform the sending

## Steps to Reproduce the Problem
* Open the app
* Go to wallet
* Then turn on screen rotation on your mobile
* Rotate mobile in landscape position, then press

[2018-06-21 10:56] shaphir commented on #95
Thanks for adding my suggestion to your workflow.

I believe this feature will be useful in the app :)

[2018-06-21 18:40] jayserdny commented on #97
Hello, This issue has been reported before and was added to our TODO list some weeks ago. You can check our TODO list here: https://github.com/Steemia/Steemia/projects/1 Thanks :D

[2018-06-21 18:40] #97 closed, assigned to nobody

[2018-06-26 21:13] ashiqurakash opened #100 "Home Icon Doesn't respond."
## Expected Behavior
After clicking on Home icon from the menu tray it must be responded and take the user to Home page.

## Actual Behavior
When user is in profile or in a post then clicking on Home icon from the menu tray doesn't respond.

## Steps to Reproduce the Problem

  1. Fresh start Steemia app.
  2. Click on a post or go to your profile or someone else's.
  3. Open menu tray from left s

[2018-06-27 01:46] jayserdny commented on #100
Hello @ashiqurakash,

I can confirm it is a bug since we never added a function to return to the home page hahahaha. However, we already removed the drawer from sub-pages so you can only see it in main pages.

Thanks :D

[2018-06-27 01:46] #100 closed, assigned to nobody

[2018-06-27 04:36] ng-gist opened #101 "No login message when upvoting after logging out"
## Expected Behavior
Clicking on up-vote after logging out should ask user to login.

## Actual Behavior
When clicking on up-vote right after logout, spinner is displayed and no message to login is shown. Spinner doesn't go away without closing the app.

## Steps to Reproduce the Problem

- Open the app and login with an account.
- Next logout from that account.
- Go to either Hot, New or Trending

[2018-06-27 08:30] organik1 opened #102 "Can't Access Memo Column When Keyboard Is Active"
#### Expected behavior

The interface that collects transfer information should be scrollable or behave in such a way that when a column is chosen it is raised above the keyboard for acessibility and visibility.

#### Actual behavior

When filling the columns for a Steem or Sbd transfer operation, the memo column is hidden under the keyboard. The column however can be accessed as long as the keybo

[2018-06-27 18:47] royachiron opened #103 "Steemia doesn't load"
![53](https://user-images.githubusercontent.com/23020420/41993286-9f46c2ea-7a53-11e8-8fb5-af007b6a680e.gif)

[2018-06-27 19:00] jayserdny commented on #103
Hello @royachiron,

Sorry for this issue, it happens due to expired tokens. However, this issue was corrected in several commits ago and update will be released this week.

Thanks for informing us about this issue :D

[2018-06-27 19:00] #103 closed, assigned to nobody

[2018-06-27 19:01] jayserdny commented on #101
Hello @mightypanda-x,

Thanks for your report! I was able to reproduce this issue and I will be fixing it soon. :D

[2018-06-27 19:26] jayserdny commented on #102
Hello @organik1,

I was able to reproduce this issue. The scroll is blocked when the keyboard is opened. We will work to improve the wallet flow to provide a better UX.

Thanks for your report.

[2018-06-28 20:38] ashiqurakash opened #104 "Searched posts does not show voters or comments info."
## Expected Behavior
After searching a text or tags voter's info or comments of a post must be shown after clicking on the voter's icon or comment icon.

## Actual Behavior
After searching a text or tags voter's info or comments are empty. Does not show any info of a post.

## Steps to Reproduce the Problem

  1. Fresh start Steemia app.
  2. Search a text or any tag you want to find.
  3. Then th

[2018-06-28 20:41] hsyndeniz commented on #104
Hey @ashiqurakash
Thank you for report, this issue resolved in new version.  We will update Steemia as soon as possible.

[2018-06-28 20:43] hsyndeniz commented on #102
I will add a modal to send money with local currency  like Steemia Pay. Thank you for report @organik1

[2018-07-10 06:41] djavalord opened #105 "Tag(#) and text search returns no result"
## Expected Behavior
I expect to see results relating to the tag or text that I searched for when ever I search a tag or a text

## Actual Behavior
When I searched for a tag,  no result was returned, but a blank page. I searched for text as well,  no result but a blank page

## Steps to Reproduce the Problem

  1. Login to steemia using the required credentials
  2. On the landing page,  click on

[2018-07-10 17:59] hsyndeniz commented on #105
Hey @djavalord
Thank you for report, I just reproduced issue.
We will solve it ASAP!

[2018-07-10 20:30] ammarraisafti opened #106 "Steemia v 0.0.5 After clicking the user profile icon, happen problem displaying the image in android 7.0"
# Expected behavior
After opening one of the hot posts, then clicking on the user profile icon. After that go back to the post, and click on the image seen in the post. Supposedly, the ability to display images correctly should be possible.

# Actual behavior
After opening one of the hot posts, then clicking on the user profile icon. Then go back again to the post and opened the visible image in t

[2018-07-10 22:40] djavalord opened #107 "Selected currency in setting not showing the value of the selected currency in post"
## Expected Behavior
I expect that when I change the currency to my preferred currency from setting, currencies in post pay out and in my wallet should show the selected currency.
## Actual Behavior
The currency in post and in my wallet remains in USD after changing to NGN

## Steps to Reproduce the Problem

  1. Login to steemia using the required details
  2. Click on the 3 horizontal line at th

[2018-07-11 19:02] realrufans opened #108 "Same & Wrong Account Activities, Wallet Transaction History Keep Displaying On Every User's Profile"
<Hr>

#### Expected behavior
The correct **account activity** and **wallet transaction history** should be shown on every user's account.

#### Actual behavior
It keep displaying wrong account activity and transaction history for every user's account clicked.
It happens that , it displays same information for every account on steem blockchain.

#### How to reproduce

* download the app [Steemia](h

[2018-07-11 20:31] ng-gist opened #109 "Profiles with no profile image are not loading"
## Expected Behavior
When loading a profile with no profile image, it should load fine.

## Actual Behavior
When loading a profile with no profile image, doesn't load properly or at all. It also shows joined date as invalid and no account value. In some cases clicking on other tab doesn't work either.

## Steps to Reproduce the Problem

  1. Find a profile with no image by going into comments of a

[2018-07-11 20:59] realrufans commented on #109
Hi mightypanda-x , I think it's same with this  [106](https://github.com/Steemia/Steemia/issues/106)

[2018-07-11 21:23] ng-gist commented on #109
It is different, if u see the video, issue only happens with profiles with no image, other profiles work fine. Issue mentioned in that bug happens to profile with images and i cant honestly understand the issue he is describing

[2018-07-11 22:26] jayserdny commented on #107
Hello,

Thanks for your report. I have checked and it is not a bug. Indeed, this option is to manipulate the value shown when you press the payout value of any post. By default, even if it is confusing, the $ sign does not stand for USD (Same for most of the Steem frontends). It stands for the current payout in Steem currency.

However, if you press this value, a popover will pop up and will show

[2018-07-11 22:26] #107 closed, assigned to jayserdny

[2018-07-11 22:35] jayserdny commented on #109
Hello guys,

Both are correct but I will close this one in favor of # 106. Why? Both represent the same issue (I have confirmed that it does not happen only with profiles without profile images but certain profiles. For instance, in the case of #106, the profile did have an image but it failed to load. Hence, it does not only fail when the profile image does not exist.

Thanks.

[2018-07-11 22:35] #109 closed, assigned to nobody

[2018-07-11 22:36] jayserdny commented on #106
Hello,

I was able to reproduce your issue and it is really weird. I will investigate the cause of this issue and will find a fix for it :)

[2018-07-11 22:58] realrufans opened #110 "Editing a comment to an empty comment leads to infinite loading. Preventing the user from doing anything else."
<Hr>

#### Expected behavior
An alert message ```A comment cannot be empty``` should pop up while trying to publish the empty edited comment.

#### Actual behavior
Editing a comment to an empty comment leads to infinite loading. Preventing the user from doing anything else.

#### How to reproduce

* download the app [Steemia](https://play.google.com/store/apps/details?id=com.steemia.steemia)
* Sig

[2018-07-12 00:50] jayserdny commented on #110
Hey @realrufans ,

I was able to reproduce this issue! Nice finding :100:

Thanks.

[2018-07-13 05:37] jayserdny commented on #108
Hello,

I am closing this one in favor of #106. This bug is the same as #106. Since the profile is not able to load, default data is loaded (as you can notice, the creation date of the user says 'invalid').

Thanks for the report :).

[2018-07-13 05:37] #108 closed, assigned to nobody

[2018-07-13 05:39] realrufans commented on #108
Oh I get it , thanks 👍 best PO

[2018-07-13 20:48] ashiqurakash opened #111 "Steemia app v0.0.5||After entering in a user's profile from that user's post does not show any info of the profile."
## Expected Behavior
After entering in any user's profile from his/her post must show all the info of the user's profile.

## Actual Behavior
After entering in someone's profile from their own posts doesn't show any info of their profile.

## Steps to Reproduce the Problem

  1. Start Steemia app v0.0.5 then login and enter in any post from the home screen of Steemia app.
  2. At the top left of t

[2018-07-14 00:42] jayserdny commented on #111
Hello,

I will close this one in favor of #106 which is basically the same issue. This behavior is caused by the bug reported in #106.

Thanks :)

[2018-07-14 00:42] #111 closed, assigned to nobody

[2018-07-14 06:58] ashiqurakash opened #112 "Steemia app v0.0.5 doesn't show comment owners profile"
## Expected Behavior
After entering a post commenter profile must be shown.

## Actual Behavior
User can't see the commenter profile. Because after clicking on the profile icon or commenter name profile doesn't load.

## Steps to Reproduce the Problem

  1. Start Steemia app v0.0.5 and enter in a post which already have some comments.
  2. Then go to the bottom of the post to see the comments.
  3

[2018-07-14 13:14] jayserdny commented on #112
Hello,

Thanks for your report. Your report is reporting the same behavior of #106 even if it is from different place but still ends up at the same page. This is caused by the report of #106 so I will close this one in favor of #106.

[2018-07-14 13:14] #112 closed, assigned to nobody

[2018-07-25 23:30] ashiqurakash opened #113 "Steemia app 0.0.5 keeps loading for some bots comment"
## Steps to Reproduce the Problem

  1. Fresh start Steemia.
  2. Go to notifications.
  3. Find a bot's comments in this case I've found 2 examples 'badcontent' & 'guard'.
 4. Click on the bot's comment.
 5. Note that after clicking on the comment apps keeps loading and user can't do anything instead of restart the app.

## Specifications

  - Version: Steemia v0.0.5
  - Platform: Android 7.0
  -

[2019-04-10 13:07] ChristophyBarth opened #114 "Feed won't loaf on Steemia"
**Expected behavior**
- Users should be able to view feed

**Actual behavior**
-  feed cannot load. It says, "There are no more posts to load"

**How to reproduce**
- Download and install the latest version of the Steemia application.
- Launch the application
- Login/sign-in to your steemit account
- Click on the "feed" option and refresh(if necessary)
- bug will be reproduced

---

- App version: